<div class="ui inverted vertical masthead center aligned segment">

  <div class="ui container">
    <div class="ui large secondary inverted pointing menu">
      <a (click)="toggleSideBar()" class="toc item">
        <i class="sidebar icon"></i>
      </a>
      <a class="active item">Home</a>
      <a class="item">Dashboard</a>
      <a class="item">Exercises</a>
      <a class="item">Routines</a>
      <div class="right item">
        <a class="ui inverted button">Log in</a>
        <a class="ui inverted button">Sign Up</a>
      </div>
    </div>
  </div>

  <div class="ui text container">
    <h1 class="ui inverted header">
        {{company}}
      </h1>
    <h2>{{header}}</h2>
  </div>

</div>
