<app-navbar>
</app-navbar>
<app-searchbar></app-searchbar>

<!-- <app-landing><app-landing> -->

<!-- <div class="ui vertical stripe segment">

  <div class="ui middle aligned stackable grid container">
    <div class="row">
      <div class="eight wide column">
        <h3 class="ui header">We Help Companies and Companions</h3>
        <p>We can give your company superpowers to do things that they never thought possible. Let us delight your customers and empower your needs...through pure data analytics.</p>
        <h3 class="ui header">We Make Bananas That Can Dance</h3>
        <p>Yes that's right, you thought it was the stuff of dreams, but even bananas can be bioengineered.</p>
      </div>
      <div class="six wide right floated column">
        <img src="assets/images/bicycle.svg" class="ui large bordered rounded image">
      </div>
    </div>

    <div class="row">
      <div class="six wide left floated column">
        <img src="assets/images/barbell-and-heart-cardiogram.svg" class="ui large bordered rounded image">
      </div>
      <div class="eight wide column">
        <h3 class="ui header">We Help Companies and Companions</h3>
        <p>We can give your company superpowers to do things that they never thought possible. Let us delight your customers and empower your needs...through pure data analytics.</p>
        <h3 class="ui header">We Make Bananas That Can Dance</h3>
        <p>Yes that's right, you thought it was the stuff of dreams, but even bananas can be bioengineered.</p>
      </div>
    </div>

    <div class="row">
      <div class="eight wide column">
        <h3 class="ui header">We Help Companies and Companions</h3>
        <p>We can give your company superpowers to do things that they never thought possible. Let us delight your customers and empower your needs...through pure data analytics.</p>
        <h3 class="ui header">We Make Bananas That Can Dance</h3>
        <p>Yes that's right, you thought it was the stuff of dreams, but even bananas can be bioengineered.</p>
      </div>
      <div class="six wide right floated column">
        <img src="assets/images/jump-rope.svg" class="ui large bordered rounded image">
      </div>
    </div>

    <div class="row">
      <div class="center aligned column">
        <a class="ui huge button">Check Them Out</a>
      </div>
    </div>
  </div>

</div> -->

<!-- <app-dashboard></app-dashboard> -->

<!-- <div class="ui people shape">
  <div class="sides">
    <div class="active side">
      <div class="ui card">
        <div class="image">
          <img src={{beer.label_url}}>
        </div>
        <div class="content">
          <div class="header">{{beer.name}}</div>
          <div class="meta">
            <a>{{beer.type_name}}</a>
          </div>
          <div class="description">
            {{beer.description}}
          </div>
        </div>
        <div class="extra content">
          <span class="right floated">
            {{beer.ibu}}
          </span>
          <span>
            <i class="user icon"></i>
            {{beer.abv}}
          </span>
        </div>
      </div>
    </div>
    <div class="side">
      <div class="ui card">
        <div class="image">
          <img src={{beer.label_url}}>
        </div>
        <div class="content">
          <div class="header">{{beer.name}}</div>
          <div class="meta">
            <a>{{beer.type_name}}</a>
          </div>
          <div class="description">
            {{beer.description}}
          </div>
        </div>
        <div class="extra content">
          <span class="right floated">
            {{beer.ibu}}
          </span>
          <span>
            <i class="user icon"></i>
            {{beer.abv}}
          </span>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="ui link cards">
  <div class="card">
    <div class="image">
      <img src="{{beer.label_url}}">
    </div>
    <div class="content">
      <div class="header">{{beer.name}}</div>
      <div class="meta">
        <a>{{beer.type_name}}</a>
      </div>
      <div class="description">
        {{beer.description}}
      </div>
    </div>
    <div class="extra content">
      <span class="right floated">
        {{beer.ibu}}
      </span>
      <span>
        ABV:
        {{beer.abv}}
      </span>
    </div>
  </div>
  <div class="card">
    <div class="image">
      <img src="/images/avatar2/large/molly.png">
    </div>
    <div class="content">
      <div class="header">Molly</div>
      <div class="meta">
        <span class="date">Coworker</span>
      </div>
      <div class="description">
        Molly is a personal assistant living in Paris.
      </div>
    </div>
    <div class="extra content">
      <span class="right floated">
        Joined in 2011
      </span>
      <span>
        <i class="user icon"></i>
        35 Friends
      </span>
    </div>
  </div>
  <div class="card">
    <div class="image">
      <img src="/images/avatar2/large/elyse.png">
    </div>
    <div class="content">
      <div class="header">Elyse</div>
      <div class="meta">
        <a>Coworker</a>
      </div>
      <div class="description">
        Elyse is a copywriter working in New York.
      </div>
    </div>
    <div class="extra content">
      <span class="right floated">
        Joined in 2014
      </span>
      <span>
        <i class="user icon"></i>
        151 Friends
      </span>
    </div>
  </div>
</div>

<!-- <app-beers-list
  [beerList]="beers"
  (onBeerSelected)="beerWasSelected($event)">
</app-beers-list> -->

<div class="ui special link cards">
  <div class="card" *ngFor="let beer of beers">
    <div class="blurring dimmable image">
      <div class="ui dimmer">
        <div class="content">
          <div class="center">
            <div class="ui inverted button">Add To Favorites</div>
          </div>
        </div>
      </div>
      <img src="{{beer.label_url}}">
    </div>
    <div class="content">
      <a class="header">{{beer.name}}</a>
      <div class="meta">
        <span class="date">{{beer.type_name}}</span>
      </div>
      <div class="description">
        {{beer.description}}
      </div>
    </div>
    <div class="extra content">
      <span class="right floated">
        IBU:
        {{beer.ibu}}
      </span>
      <span>
        ABV:
        {{beer.abv}}
      </span>
    </div>
  </div>
</div>

<!-- <div class="card" *ngFor="let beer of beers">
  <div class="image">
    <img width="100px" height="100px" src="{{beer.label_url}}">
  </div>
  <div class="content">
    <div class="header">{{beer.name}}</div>
    <div class="meta">
      <a>{{beer.type_name}}</a>
    </div>
    <div class="description">
      {{beer.description}}
    </div>
  </div>
  <div class="extra content">
    <span class="right floated">
      IBU:
      {{beer.ibu}}
    </span>
    <span>
      ABV:
      {{beer.abv}}
    </span>
  </div>
</div> -->

<!-- <app-footer></app-footer> -->

<div class="ui special cards">
  <div class="card">
    <div class="blurring dimmable image">
      <div class="ui dimmer">
        <div class="content">
          <div class="center">
            <div class="ui inverted button">Add Friend</div>
          </div>
        </div>
      </div>
      <img src={{beer.label_url}}>
    </div>
    <div class="content">
      <a class="header">Team Fu</a>
      <div class="meta">
        <span class="date">Create in Sep 2014</span>
      </div>
    </div>
    <div class="extra content">
      <a>
        <i class="users icon"></i>
        2 Members
      </a>
    </div>
  </div>
</div>

<script>$('.shape').shape();</script>
<script>$('.shape').shape('flip up');</script>
<script>$('.special.cards .image').dimmer({
  on: 'hover'
});</script>
